@font-face {
    font-family: 'MC';
    src: url('resources/MinecraftRegular-Bmg3.otf');
}
@font-face {
    font-family: 'MCtitle';
    src: url('resources/MinecraftTen-VGORe.ttf');
}

#gameCanvas{
    
    border: 50px solid black;
    border-image-source: url(resources/images/border.png);
    border-image-slice: 16 16 16 16;
    border-image-repeat: repeat;
    margin-top: 5rem;
}
body{
    background-image: url(resources/images/background.png);
    background-size: 500px;
    image-rendering: pixelated;
}